@charset "UTF-8";

:root {
    --cor0:#133B40;
    --cor1:#15403B;
    --cor2:#537073;
    --cor3:#AABFBF;
    --cor4:#F2F2F2;
}
* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
body, html {
    text-align: center;
    background-color: var(--cor2);
}
body {
    margin: 0;
    position: relative;
    text-align: center;
    justify-content: center;
    position: relative;
}
header , footer {
    background-color: var(--cor4);
    margin: 0px;
    width: 100%;
    position: fixed;
}
header {
    top: 0;
    padding: 10px 0;
}
footer {
    display: flex;
    bottom: 0;
    justify-content: center;
}
footer > div {
    text-align: center;
    padding: 3px;
    line-height: 15px;
}

#ibra {
    font-size: 1.5em;
}
header > div , footer > div{
    display: inline-flex;
}
header > div > picture {
    padding: 20px;
    margin: auto;
}
header > div > section {
    padding: 10px;
}
header > div > section > h1 {
    color: var(--cor0);
    font-size: 2em;
    font-variant: small-caps;
    text-shadow: 1px 1px 1px var(--cor0);
    text-align: center;
}
nav {
    margin: auto;
}
nav > a , footer a {
    text-decoration: none;
    color: var(--cor0);
    background-color: var(--cor4);
    border-radius: 5px;
    margin: 7px;
    padding: 2px;
    line-height: 1.3em;
}
nav > a:hover , footer a:hover {
    font-weight: bold;
    background-color: var(--cor3);
}

main > section {
    margin: 10px auto 10px auto;
    padding: 20px;
    max-width: 800px;
    width: auto;
    background-color: var(--cor1);
    color: var(--cor4);
    border-radius: 15px;
}
main {
    text-align: center;
    margin: 0 20px;
    justify-content: center;
    margin-top: 200px;
}
h2 {
    font-size: 1.3em;
}
p {
    font-size: .8em;
}
main a {
    text-decoration: none;
    color: var(--cor4);
    padding: 0 10px;
}
main a:hover {
    text-decoration: underline;
}
iframe#conteudo {
    width: 300px;
    height: 200px;
    background-color: #15403B;
}

@media screen and (max-width: 426px) {
    iframe#conteudo {
        width: 240px;
        height: 160px;
    }
    main {
        margin-top: 210px;
    }
}

@media  screen and (min-width: 600px) and (max-width: 799px) {
    iframe#conteudo {
        width: 500px;
        height: 333px;
    }
}

@media  screen and (min-width: 800px) {
    iframe#conteudo {
        width: 700px;
        height: 466px;
    }
}
